In [9]:
import pandas as pd
import random 

random_reddit = pd.read_excel('random_reddit_final.xlsx')

In [10]:
anon_rr = random_reddit

In [14]:
import ast

In [20]:
anon_rr.drop(['submissions'], axis=1, inplace = True)

In [16]:
anon_rr['tokenized'] = anon_rr['tokenized'].apply(lambda x: ast.literal_eval(x))
anon_rr['tokenized'].apply(lambda x: random.shuffle(x))

0        None
1        None
2        None
3        None
4        None
         ...
10447    None
10448    None
10449    None
10450    None
10451    None
Name: tokenized, Length: 10452, dtype: object

In [18]:
anon_rr['lemmatized'] = anon_rr['lemmatized'].apply(lambda x: ast.literal_eval(x))
anon_rr['lemmatized'].apply(lambda x: random.shuffle(x))

0        None
1        None
2        None
3        None
4        None
         ...
10447    None
10448    None
10449    None
10450    None
10451    None
Name: lemmatized, Length: 10452, dtype: object

In [21]:
anon_rr

,tokenized,lemmatized
0,"[cancer, already, let, cure]","[cure, already, cancer, let]"
1,"[too, many, species, of, people, extinction]","[too, extinction, people, of, many, specie]"
2,[survive],[survive]
3,"[a, sandbox, would, be, it]","[a, it, be, sandbox, would]"
4,"[get, bed, out, of]","[bed, get, out, of]"
...,...,...
10447,"[tide, roll]","[tide, roll]"
10448,"[do, do, what, got, ta, ta, got, they, they]","[got, do, what, they, got, ta, they, ta, do]"
10449,"[if, a, to, it, my, i, on, give, needs, me, mo...","[to, me, on, need, turned, a, give, and, be, o..."
10450,"[companies, think, i, than, i, the, infrastruc...","[the, company, be, think, blaming, rather, i, ..."
10451,"[but, are, get, consuming, consume, blackouts,...","[to, we, get, and, anyways, do, demand, but, c..."

In [28]:
christian_reddit = pd.read_excel('christian_red_final.xlsx')

NameError: name 'anon_cr' is not defined

In [29]:
anon_cr = christian_reddit

In [30]:
anon_cr.drop(['submissions'], axis=1, inplace = True)

In [33]:
anon_cr['lemmatized'] = anon_cr['lemmatized'].apply(lambda x: ast.literal_eval(x))
anon_cr['lemmatized'].apply(lambda x: random.shuffle(x))

0        None
1        None
2        None
3        None
4        None
         ...
23556    None
23557    None
23558    None
23559    None
23560    None
Name: lemmatized, Length: 23561, dtype: object

In [34]:
anon_cr['tokenized'] = anon_cr['tokenized'].apply(lambda x: ast.literal_eval(x))
anon_cr['tokenized'].apply(lambda x: random.shuffle(x))

0        None
1        None
2        None
3        None
4        None
         ...
23556    None
23557    None
23558    None
23559    None
23560    None
Name: tokenized, Length: 23561, dtype: object

In [35]:
anon_cr

,tokenized,lemmatized
0,"[of, think, men, and, hope, the, most, the, go...","[spirit, people, they, life, are, men, and, an..."
1,"[first, it, and, contentious, the, approved, b...","[theory, the, need, such, and, into, theism, b..."
2,"[argument, yet, evolution, throw, theory, non,...","[with, a, go, trinity, have, design, to, yet, ..."
3,"[could, gaps, than, own, is, to, creator, to, ...","[far, earth, therein, do, present, that, creat..."
4,"[of, a, a, theory, any, bang, publication, ama...","[amazing, when, thing, be, a, publication, nob..."
...,...,...
23556,"[was, so, was, are, he, that, saying, asleep, ...","[he, when, so, saying, wa, he, or, the, are, w..."
23557,"[listening, that, even, use, if, death, to, wa...","[that, and, to, to, want, describe, is, taste,..."
23558,"[want, speaker, if, that, you, own, of, the, h...","[if, it, those, insert, that, over, out, view,..."
23559,"[physical, referred, the, to, death, speaker]","[the, referred, death, physical, to, speaker]"
23560,"[greek, you, show, translating, to, in, physic...","[physical, to, re, which, translating, show, m..."

In [36]:
anon_cr.to_excel('anon_christian_reddit.xlsx', index=False)
anon_rr.to_excel('anon_random_reddit.xlsx', index=False)